extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Connor Hoare

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I dream big things, I see things that are not yet available and I will make them reality. I will make the world simpler, more efficient and fun.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li +44 7917 306 121
          li connor@tipcigroup.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='www.linkedin.com/connorhoare') LinkedIn
        a.btn-link(href='www.github.com/connorhoare12345') GitHub
        a.btn-link(href='https:/www.twitter.com/connorhoare4') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back