extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p A place for all my previous projects, to show what I am able to accomplish and my skills as a developer.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5= project.name
